// MEDIA QUERIES

// For small devices
@media screen and (max-width: 360px) {
    .svg__img {
        width: 100%;
    }

    .section {
        padding: 3.5rem 0 1rem;
    }

    .services__img {
        width: 100%;
    }
}